<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My suite">
     <listeners>
        <listener class-name="com.fujitsu.core.listener.TestListener" />
        <listener class-name="com.fujitsu.core.listener.MethodInterceptor" />
        <listener class-name="com.fujitsu.core.listener.AnnotationTransformer" />
         
    </listeners> 
    <suite-files>
        <suite-file path="src/test/resources/Portfolio.xml"/>
         <!--  <suite-file path="src/test/resources/SignUp.xml"/> -->
    </suite-files>
</suite>